<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer id="pieDePagina">
        <section id="footerIzquierda">
            <ul>
                <li><img id="game" src="img/logoG.png"></li>
                <li><a class="links" href="mailto:rodrigoagust7@gmail.com">Correo Electronico</a></li>
                <li><a class="links" href="tel:123456789">Telefono</a></li>
                <li><a class="links" href="https://goo.gl/maps/41NGqypQEtESgsGr9" target="_blank">Ubicacion</a></li>
            </ul>
        </section>
        <section id="footerMedio">
            <p id="textoDescarga">Descarga la app Exodus</p>
            <ul>
                <li><a href="https://play.google.com/store/games?device=windows" target="_blank"><img id="logofooterA"
                            src="img/appStore.png"></a></li>
                <li><a href="https://www.apple.com/app-store/" target="_blank"><img id="logofooterG"
                            src="img/googlePlay.png"></a></li>
            </ul>
            <p>Copyright ⓒ 2023 Exodus Gaming</p>
        </section>
        <section id="footerDerecha">
            <ul>
                <p>La comunidad ha contribuido mas de $240.000.000 a organizaciones benéficas desde 2010. Marcando una
                    diferencia en distintas causas del mundo.
                </p>
                <li><a href="https://www.facebook.com/" target="_blank"><img id="redes" src="img/facebook.png"></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><img id="redes" src="img/instagram.png"></a>
                </li>
                <li><a href="https://twitter.com/" target="_blank"><img id="redes" src="img/twitter.png"></a></li>
            </ul>

        </section>
    </footer>
</body>

</html>