<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <header id="cabezera">
        <ul>
            <li><img id ="game" src="img/logoG.png"></li>
            <li><h3 class = "Titulo">Aprovecha los descuentos que tenemos para vos</h3></li>
            <li><a href="" class="links"><img id="usser" src="img/usuario.png" alt = "perfil de usuario"></a></li>
            <li><a href="" class="links"><img id="carro" src="img/carrito.png" alt="carrito"></a></li>
            <li><a href="login" class="links"><h5>Acceder</h5></a></li>
            <li><a href="register" class="links"><h5>Registrarse</h5></a></li>
        </ul>
    </header>
    <nav id="menu">
        <ul id="listaMenu">
            <li ><a href="home.html" class="links"><h3>Tienda</h3></a></li>
            <li class="barra">|</li>
            <li ><a href="#" class="links"><h3>Sobre Nosotros</h3></a></li>
            <li class="barra">|</li>
            <li ><a href="#" class="links"><h3>Soporte</h3></a></li>
            <li class="barra">|</li>
            <li ><a href="#" class="links"><h3>Noticias</h3></a></li>
        </ul>
    </nav>
</body>
</html>