<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleCarrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href=<link href="https: //fonts.googleapis.com/css2? family= Bree+Serif & family= Handjet:wght@500 & family= Nunito+Sans:opsz,wght@6..12,500 & family= Roboto:wght@300 & family= Signika +Negativo:wght@400;700 & display=swap" rel="hoja de estilo">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Carrito de Compras</title>
</head>
<body>
    <header id="cabezera">
            <img id ="game" src="/img/1000069099.png">
            <p></p>
            <p></p>
            <p class = "Titulo">EXODUS GAMES SHOP</p>
            <p></p>
            <p></p>
            <p></p>
            <a href="" class="links"><img weigth= "20px" id="carro" src="img/carrito.png" alt="carrito"></a>
            <a href="login.html" class="links">ACCEDER</a>
            <a href="register.html" class="links">REGISTRARSE</a>
    </header>
    <nav id="menu">
        <ul id="listaMenu">
            <li ><a href="home.html" class="links">Tienda</a></li>
            <li ><a href="#" class="links">Sobre Nosotros</a></li>
            <li ><a href="#" class="links">Soporte</a></li>
            <li ><a href="#" class="links">Noticias</a></li>
        </ul>
    </nav>
    <div id="imgbanner" >
    <img src="/img/plantilla-banner-contraccion-videojuegos-ocio_23-2149871551 (1).avif">
    </div>
    <main>
        <h2>Productos agregados</h2>
        <nav>
            <p>Producto</p>
            <p>Precio</p>
            <p> </p>
        </nav>
        <section class="juego1">
            <div>
                <img class="imgjuego" src="img/dayz.avif">
                <p>DayZ --</p>
            </div>
                <p>$1500</p>
                <form><button type="reset"><i class="fas fa-times-circle"></i> Eliminar</buttom></form>
        </section>
        <section class="juego2">
            <div>
                <img class="imgjuego" src="img/arma3.webp">
                <p>Arma 3</p>
            </div>
                <p>$1500</p>
                <form><button type="reset"><i class="fas fa-times-circle"></i> Eliminar</buttom></form>
        </section>
        <form class="botones">
            <button type="submit"><a href="home.html">Seguir comprando</a></button>
            <button type="submit">Pagar</button>
        </form>
    </main>
    <footer id="pieDePagina">
    <section class="pago">
            <p>Medios de Pago</p>
            <ul>
                <li><img width= "100px" src="/img/Visa_Inc._logo.svg.png"></li>
                <li><img width= "130px" src="/img/logo-HSBC.png"> </li>
                <li><img width= "130px" src="/img/Logo_Naranja.png"> </li>
                <li><img width= "130px" src="/img/1200px-Logo_Banco_Hipotecario.svg.png"></li>
                <li><img width= "130px" src="/img/Mercado-Pago-Logo.png" ></li>
            </ul>
        </section>
    <section class="barra">
        <section>
         <p>Contacto</p>
         <ul class="contacto">   
             <li><a class="links" href="">ExodusG6@gmail.com</a></li>
             <li><a class="links" href="">+54 9 3881212121</a></li>
             <li><a class="links" href="">Av. AAAAAAAA N° 111</a></li>
         </ul>
        </section> 
        <section>
         <ul>
            <p>Descarga la app de Exodus</p>
            <li><img width= "200px" src="/img/disponible-en-google-play-badge-2.png"></li>
            <li><img width= "200px" src="/img/app_store.png"></li>
        </ul>
        </section>
        <section>
          <p>Seguinos</p>
          <ul class="redess">
            <li><a href="https://www.facebook.com/"><img id="redes" src="/img/Facebook_f_logo_(2019).svg.webp"></a></li>
            <li><a href="https://www.instagram.com/"><img id="redes" src="/img/instagram-1581266_960_720.webp"></a></li>
            <li><a href=""><img id="redes" src="/img/tswitch.png"></a></li>
          </ul>
        </section>
    </section>
    </footer>
</body>
</html>